<p><%- include('./partials/nav') %></p>

<div class="confirm">
    <h1>Gelukt!</h1>
        <br>
    <h2>Uw beoordeling is achtergelaten.</h2>
</div>

<div class="redirect">
    <h3><a href="/">Keer terug naar de hoofdpagina</a></h3>
</div>


<p><%- include('./partials/foot') %></p>
