:html {
    --primary-orange: #F7A100;
    --primary-black: #333333;
    --primary-white: #FFFFFF;
    --primary-blue: #0071B3;
    --hover-blue: #0a4669;
    --primary-grey: #E6F2F7;
  }
.lijsten{
    padding-top: 3em ;
    padding: 3em 1em 1em 1em;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns:  repeat( auto-fit, minmax(18em, 1fr) );
    gap: 1.5em;
}
/*  */
.lijst-items{
    text-decoration: none;
    width: 100%;
    /* border: 1px solid var(--primary-orange); */
    border-radius: 10px;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: none;

    color: #2F56B0;
    position: relative;
    text-decoration: none;
    transition: color .4s ease-out;
}
/*  */
/* p {
    font-size: 2em;
    max-width: 80%;
  } */
  
  
  .lijst-items:hover {
    /* color: #457DFB; */
    color: var(--primary-blue);
    right: 0;
    text-decoration: none;
  }
  
  .lijst-items:hover:after {
    /* border-color: #457DFB; */
    border-color: var(--primary-blue);
    right: 0;
  }
  
  .lijst-items:after {
    border-radius: .5em;
    border-top: .5em solid #457DFB;;
    content: "";
    position: absolute;
      right: 100%;
      /* bottom: .14em; */
      bottom: 0;
      left: 0;
    transition: right 1s cubic-bezier(0,.5,0,1),
                border-color 1s ease-out;
  }
  
  .lijst-items:hover:after {
  right: 0;
  }
/*  */


.lijsten-article{
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: max-content max-content 1fr max-content;
    grid-template-areas: 
    'image .'
    'title title'
    'description description'
    'huizen huizen';
    padding: .5em;
    /* border: 3px solid var(--primary-orange); */
    border-radius: 10px;
    width: 100%;
    height: 200px;
    list-style-type: none;
    justify-content: center;
    text-align: center;
}

.list-title{
    grid-area: title;
    color: #0071B3;
}
.list-description{
    grid-area: description;
    color: #666666;
}
.aantal-huizen{
    grid-area: huizen;
    justify-self: end;
    /* color: #0071B3; */
    color: #666666;
    /* display: flex; */
}
.avatar-image{
    grid-area: image;
    height: 4em;
    width: 4em;
    opacity: 0;

}