:html {
    --primary-orange: #F7A100;
    --primary-black: #333333;
    --primary-white: #FFFFFF;
    --primary-blue: #0071B3;
    --hover-blue: #0a4669;
    --primary-grey: #E6F2F7;
  }
.lijsten-main{
  display: block;
  text-align: center;
}
.lijsten-h1{
  padding-top: .5em;
  justify-self: center;
  color: var(--primary-black);
}

.lijsten{
    padding: 2em 1em 1em 1em;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns:  repeat( auto-fit, minmax(18em, 1fr) );
    gap: 1em;
}
/*  */
.lijst-items{
    text-decoration: none;
    width: 100%;
    border: 3px solid white;
    border-radius: 5px;
    margin: auto;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    background-color: var(--primary-grey);

    /* color: #2F56B0; */
    position: relative;
    text-decoration: none;
    transition: color .4s ease-out;
}


  .lijst-items::after{
    content: '';
    width: 0;
    height: 7px;
    background-color: var(--primary-blue);
    margin: auto;
    display: block;
  }
  .lijst-items:hover::after{
    width: 100%;
    transition: width 0.3s linear;
  }
  .lijst-items:hover{
    color: var(--primary-blue);
  }
  .lijst-items:focus::after{
    width: 100%;
    transition: width 0.3s linear;
  }
  .lijst-items:focus{
    color: var(--primary-blue);
  }
  
  
.lijsten-article{
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: max-content max-content 1fr max-content;
    grid-template-areas: 
    'image .'
    'title title'
    'description description'
    'huizen huizen';
    padding: .5em;
    /* border: 3px solid var(--primary-orange); */
    border-radius: 10px;
    width: 100%;
    min-height: 210px;
    list-style-type: none;
    justify-content: center;
    text-align: center;
}

.list-title{
    grid-area: title;
    color: #0071B3;
}
.list-description{
    grid-area: description;
    color: #666666;
}
.aantal-huizen{
  display: flex;
    grid-area: huizen;
    gap: 5px;
    justify-self: end;
    line-height: 1;
    /* color: #0071B3; */
    color: #666666;
    /* display: flex; */
}
.avatar-image{
    grid-area: image;
    height: 4em;
    width: 4em;
    opacity: 0;

}
.num{
  font-weight: bold;
  color: black;
}
.house-icon{
  height: 1em;
  width: 1em;
  padding-left: 2px;
  bottom: 0;
}